.landingHead {
    font-family: 'Poppins', sans-serif;
}
.body {
    text-align: center;
    height: 500px;
    background-image: url('../Images/woodgrain.jpg');
    background-size: 100%;
    border: #c99e76 solid 3px;
    border-style: ridge;
    font-family: 'Libre Baskerville', serif;

}
