body {
    background-image: url("rocket.jpg");
    background-color: #5e5c5c;
    background-size: cover;
    
    width: auto;
 }

 aside {
    float: left;
    display: inline-block;
    padding: 0 20px;
    
 }

 h3 {
     font-size: 60px;
     font-family: 'Lobster', cursive;
     text-decoration: underline;
     color: #eed5d5
 }

 p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
 }
 
 a {
    color: #eed5d5;
    text-decoration: none; 
    padding: 0 10px;
    
 }
 div {
     display: inline-block;
     position:absolute;
    top:10;
    right:0;
    padding: 10px 0;
    margin: 10px 15px 0 0;
    border: #eed5d5 solid 1px;
 }

 footer {
     text-align: right;
   
     position:absolute;
    bottom:0;
    right:0;
    padding: 0 20px;

 }
h2 {
    font-family: 'Raleway', sans-serif;
    color: #eed5d5;
    text-decoration: underline;
}
 .smol {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
 }