@media {

}


body {
    background-image: url("rocket.jpg");
    background-color: #5e5c5c;
    background-size: cover;
   
 }

 aside {
    float: left;
    display: inline-block;
    padding: 0 20px;
 }

 h3 {
     font-size: 60px;
     font-family: 'Lobster', cursive;
     text-decoration: underline;
     color: #edeed5;
     margin-bottom: 0;
 }

 p {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
 }
 
 a {
    color: #edeed5;
    text-decoration: none; 
    padding: 10px;
    border: #edeed5 solid 1px;
    background-color: rgba(166, 155, 214, 0.1);
    border-radius: 25px;
    
 }
 div {
    display: inline-block;
    position: absolute;
    top:10;
    right:0;
    padding: 10px 0;
    margin: 10px 15px 0 0;
   
 }

 footer {
    text-align: center;
    border: #edeed5 solid 1px;
    border-radius: 25px;
    background-color: rgba(166, 155, 214, 0.2);
    position: absolute;
    bottom:0;
    right:0;
    padding: 5px 10px;
    margin: 20px;
 }
h2 {
    font-family: 'Raleway', sans-serif;
    color: #edeed5;
    text-decoration: underline;
}
 .smol {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
 }