.logo {
    height: 10vmin;
    margin-top: 5px
  }
#navBarMain {
    /* background-color: blue; */
    /* width: 100%; */
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    justify-content: space-around;
    align-items: center;
}

.navLinks {
    font-size: 20px;
    text-decoration: none;  
    color: #d3d3d3;
    font-family: 'Oswald', sans-serif;
  }