.aboutMain{
width: 90%;
height: 600px;

/* background-color: red; */
/* position: fixed; */
}
.aboutWrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    /* background-color: blue; */
    width: 1000px;
    height: 500px;
}
#headshot {
    border: #c99e76 solid 3px;
    border-style: ridge;
    border-radius: 50%;
    width: 300px;
    margin-top: 30px;
    position: absolute;
}
.textWrapper {
    width: 600px;
    margin-left: 400px;
    font-family: 'Libre Baskerville', serif;
    position: absolute;
}