.aboutMain{
/* background-color: green; */
background-size: 100%;
width: 80%;
height: 600px;

}

#headshot {
    border: #c99e76 solid 3px;
    border-style: ridge;
    border-radius: 50%;
    width: 300px;
    margin-left: -50px;

}
.textWrapper {
    /* background-color: red; */
    margin-left: 275px;
    margin-top: -175px;
    font-family: 'Libre Baskerville', serif;}