.projectMain{
    background-image: url('../Images/cabin.jpg');
    background-size: 100%;
    width: 800px;
    height:500px;
    border: #c99e76 solid 3px;
border-style: ridge;
font-family: 'Libre Baskerville', serif;
/* position: fixed; */
/* margin-left: 10px; */
/* margin-right: auto; */
    }

    /* .mainItem{
        margin-right: 10px;
    } */
.projectHeader {
    text-align: center;
    /* position: relative; */
    margin-top: -60px
}

.projectText{
   
}