.projectMain{
    width: 1300px;
    height: 530px;
    position: fixed;
    font-family: 'Libre Baskerville', serif;
    display: flex;
    }
.projectContainer {
    background-color: purple;
    position: relative;
    background-size: 100%;
    width: 1050px;
    height: 510px;
}
.mainItem{
    width: 706px;
    height: 530px;
    text-align: center;
    margin-left: 60px;
    margin-right: auto;
    }
.itemImage{
    background-size: 100%;
    width: 700px;
    height: 400px;
    border: #c99e76 solid 3px;
    background-size: 100%;
    border-style: ridge;
    display: block;
}
.projectH3 {
    margin-left: 20px;
}

.sidebar {
    flex-direction: column;
    height: 500px;
}
.sideName {
    font-size: 15px;
}
li {
    list-style-type: none;
}
.sideName:focus {
    color: #c99e76;
}
.projectButton:active {
    color: #c99e76;
}
.projectText{
    transition: all .5s ease-in-out;
    margin-top: 50px;
    font-size: 20px;
}

button {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
}


.grow { transition: all .4s ease-in-out; }
.grow:hover { transform: scale(1.1); }