.projectMain{
/* background-color: red; */
    width: 1300px;
    height: 530px;
    position: fixed;
font-family: 'Libre Baskerville', serif;
/* position: fixed; */
/* margin-left: -50px; */
display: flex;
    }
.projectContainer {
    background-color: purple;
    position: relative;
    background-size: 100%;
    width: 1050px;
    height: 510px;
}
.mainItem{
    /* background-color: blue; */
    width: 706px;
    height: 530px;
    text-align: center;
    /* position: fixed; */
    margin-left: 60px;
    margin-right: auto;
    /* margin-bottom: -100px; */
    }
.itemImage{
    /* background-image: url('../Images/cabin.jpg'); */
    background-size: 100%;
    width: 700px;
    height: 400px;
    border: #c99e76 solid 3px;
    background-size: 100%;
    border-style: ridge;
    display: block;
}


.sidebar {
    flex-direction: column;
    /* background-color: blue; */
    height: 500px;
    /* position: unset; */
    /* margin-left: 10px; */
    /* text-decoration: none; */
}
.sideName {
    font-size: 15px;
}
li {
    list-style-type: none;
}
.sideName:active {
    color: #c99e76;
}
.projectText{
    transition: all .5s ease-in-out;
}

button {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
}

.background-enter {
    transform: translate(100%);
  }
  .background-enter.background-enter-active {
    transform: translate(0%);
    transition: transform 1000ms ease-in-out;
  }
  .background-leave {
    transform: translate(0%);
  }
  .background-leave.background-leave-active {
    transform: translate(-100%);
    transition: transform 1000ms ease-in-out;
  }


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }